<h1>РИА Новости</h1>
<h3>Экономика</h3>

    <h4>Введите количество:</h4>
    <form method="POST" action="/news">
        <input type="text" name="news_count" placeholder="Введите количество">
        <input type="submit">
    </form>
    
    <h4>Список:</h4>
     {{#if news}}
        <ul>
        {{#each news}}
        <li>
            <a href={{link}} target="_blank">
                <strong>{{title}}</strong>
            </a>
        </li>
        <br>
        {{/each}}
    </ul>
     {{/if}}

<hr>
<a href="/logout">Выйти из аккаунта</a>
